.mainpage {
    background: url(../img/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
  .second {
    background: url(../img/dark.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
  .artists {
    background: url(../music/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
  .loginpage{
    background: url(../img/nav.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
  .signuppage{
    background: url(../img/nav.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
  .fancy {
    line-height:0;
    text-align: center;
  }
  
  .fancy span {
    display: inline-block;
    position: relative;
    
  }
  
  .fancy span:before,
  .fancy span:after {
    content: "";
    position: absolute;
    height: 10px;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    top: 0;
    width: 200px;
  }
  
  .fancy span:before {
    right: 100%;
    margin-right: 15px;
  }
  
  .fancy span:after {
    left: 100%;
    margin-left: 15px;
  }
  
  
  * {
    box-sizing: border-box;
  }
  
  /* Style the search field */
  form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    width: 25%;
    background: #ffffff;
    border-radius: 28px;
    outline: none;
    margin-top: 50px;
  }
  
  /* Style the submit button */
  form.example button {
    width: 5%;
    padding: 10px;
    background: #B80A3C;
    color: white;
    font-size: 17px;
    border: 1px solid #ffffff;
    border-radius: 28px;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }
  
  form.example button:hover {
    background: #0b7dda;
  }
  
  /* Clear floats */
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }
  
  
  .home {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  
  .head{
    padding-top: 30px;
    text-align: center;
  }
  
  .head p {
    padding-top: 20px;
    font-size: 2em;
    font-family: Pacifico;
    color: aqua
  }
  
  .head h1 {
    color: #ffffff;
    text-align: center;
    line-height: 0.5;
    font-size: 7em;
    text-shadow: 0 0 40px #ffbab3;
    font-family: Pacifico;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26.4px
  }
  
  .topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }
  
  .links {
    text-align: center;
    font-size: 20px;
    padding-top: 20vh;
    text-decoration: none;
    padding-bottom: 300px;
  }
  
  .links a {
    color: #ffffff;
    /* font-weight: bold; */
    padding-left: 10px;
    padding-right: 10px;
    /* border: 2px solid #05CDB2;
    border-radius: 15px 50px; */
    font-family: Pacifico;
  }
  
  .links a:hover {
    border: 2px solid #F82374;
    transition: border 0.8s ease;
    text-decoration: none;
    color: #05CDB2;
    border-radius: 15px 50px;
    transition: color 0.8s ease;
  }
  
  .links a:active {
    text-decoration: none;
    border: 2px solid #129237;
  }
  
  .links li a {
    padding: 4px;
  }
  
  /*custom font*/
  
  @import url(https://fonts.googleapis.com/css?family=Montserrat);
  /*basic reset*/
  
  * {
    margin: 0;
    padding: 0;
  }
  

  /*form styles*/
  
  #msform {
    width: 400px;
    margin: 50px auto;
    text-align: center;
    position: relative;
  }
  
  #msform form {
    background: white;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;
    /*stacking fieldsets above each other*/
    position: relative;
  }
  
  /*Hide all except first fieldset*/
  
  #msform form:not(:first-of-type) {
    display: none;
  }
  
  /*inputs*/
  
  #msform input,
  #msform textarea {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 13px;
  }
  
  /*buttons*/
  
  #msform .action-button {
    width: 100px;
    background: #27AE60;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
  }
  
  #msform .action-button:hover,
  #msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
  }
  
  /*headings*/
  
  .fs-title {
    font-size: 15px;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
  }
  
  .fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
  }
  
  .vida {
    display: block;
    margin: 0 auto;
    height: 50vh;
    width: 75vw;
  }
  
  .music {
    background-color: #ffffff;
  }
  
  .music p{
    text-align: center;
    border: 2px so
  }
  
  .users{
    margin-left: 20px;
    margin-right: 20px;
    background-color: #ffffff;
  }
  
  .users p{
    font-size: 20px;
  }
  
  .artists img{
    float:left;
    margin-right: 20px;
    margin-bottom: 30px;
    border: 1px solid #000000;
    padding: 5px;
    border-radius: 10px;
    height: 70vh;
    width: 45vw;
  }
  
  .artists img:hover{
    border: 2px solid #3EE6D4;
    transition: border 0.3s ease;
  }
  
  .Djs img{
    float:left;
    margin-right: 20px;
    margin-bottom: 30px;
    border: 1px solid #000000;
    padding: 5px;
    border-radius: 10px;
    height: 70vh;
    width: 45vw;
  }
  
  .Djs img:hover{
    border: 2px solid #3EE6D4;
    transition: border 0.8s ease;
  }
  
  .Producers img{
    float:left;
    margin-right: 20px;
    margin-bottom: 30px;
    border: 1px solid #000000;
    padding: 5px;
    border-radius: 10px;
    height: 70vh;
    width: 45vw;
  }
  
  .Producers img:hover{
    border: 2px solid #3EE6D4;
    transition: border 0.4s ease;
  }
  
  .featured{
    border-radius: 2px solid green;
  }
  
  .myButton {
      background-color:#B8044D;
      -moz-border-radius:28px;
      -webkit-border-radius:28px;
      border-radius:28px;
      display:inline-block;
      cursor:pointer;
      color:#ffffff;
      font-family:Arial;
      font-size:17px;
      padding:8px 18px;
      text-decoration:none;
    margin: 2px;
    box-shadow: 0 0 0 2px white, 0 0 0 3px #B8044D;
  
  }
  .myButton:hover {
    background-color:#ABECDB;
    text-decoration: none;
  }
  .myButton:active {
      position:relative;
      top:1px;
  }
  
  .col-md-3{
    padding-top:5vh;
  }
  
  .asidebtn{
    border: 1.1px solid #F82374;
    text-decoration: none;
    color: #05CDB2;
    font-family: pacifico;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    
  }
  
  .asidebtn:hover{
    text-decoration: none;
    color: #F82374;
    transition: color 0.8s ease;
  }
  
  .footer{
    height: 80px;
    text-align: center;
    padding:190px;
    font-size: 20px;
    color: #ffffff;
    text-shadow: 0 0 40px #ffbab3;
  }
  
  .side1{
    border-left: 1px solid #000000;
  }
  
  
  
  
  .dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    /* background-color: #f9f9f9; */
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1;
    text-decoration: none;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }
  
  .sideimg img{
    height: 50px;
    width: 50px;
  }
  
  *{padding:0;margin:0;}
  
  body{
      font-family:Verdana, Geneva, sans-serif;
      background-color:#CCC;
      font-size:12px;
  }
  
  .label-container{
      position:fixed;
      bottom:48px;
      right:105px;
      display:table;
      visibility: hidden;
  }
  
  .label-text{
      color:#FFF;
      background:rgba(51,51,51,0.5);
      display:table-cell;
      vertical-align:middle;
      padding:10px;
      border-radius:3px;
  }
  
  .label-arrow{
      display:table-cell;
      vertical-align:middle;
      color:#333;
      opacity:0.5;
  }
  
  .float{
      position:fixed;
      width:60px;
      height:60px;
      bottom:40px;
      right:40px;
      background-color:#06C;
      color:#FFF;
      border-radius:50px;
      text-align:center;
      box-shadow: 2px 2px 3px #999;
  }
  
  .my-float{
      font-size:24px;
      margin-top:18px;
  }
  
  a.float + div.label-container {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease;
  }
  
  a.float:hover + div.label-container{
    visibility: visible;
    opacity: 1;
  }
  
  .images img{
    border-radius: 50%;
    box-shadow: 0 0 0 1px #B8044D;
  }
  
  .images img:hover{
    background-color: #ffffff;
  }